<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

 

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

 

button{
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 5px 20px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

  .content {
    display: flex;
    padding-top: 100px;
    align-items: center;
  }

  .jumbotron {
  min-width: 585px;
  margin: 10px auto;
  display: block;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  border: 0.08em solid black;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <link href="https://global.oktacdn.com/okta-signin-widget/5.3.3/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>


 <div class="x">

  
  <button routerLink="/"> Home </button>
  <button *ngIf="!isAuthenticated" routerLink="/login"> Login </button>
  <button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
  <button routerLink="/protected"> Protected </button>
 </div> 

 
</div>

<div class="content" role="main">
  <div class="container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <h1 class="text-center">Okta Login Demo</h1>
    <br>
    <div *ngIf="!isAuthenticated"  id="messageBox" class="jumbotron">
      <p>You are not logged in. Please sign up or login? 😁</p>
      <br>
      <button class="extsignup" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
      <br>
      
    </div>
    <div *ngIf="isAuthenticated" id="messageBox" class="jumbotron">
      <p>You are now logged in! 😇</p>
      

    </div>
    <br>
    <a href="https://dev-96827083.okta.com/oauth2/v1/authorize?idp=0oa9xz747txkQcl6I5d6&client_id=0oa86pz8gD2KvS0qw5d6&response_type=id_token&response_mode=fragment&scope=openid%20email&redirect_uri=http://localhost:4200/login/callback&state=WM6D&nonce=YsG76jo">Sign in with Identity Provider</a>
    

    <!-- where the sign-in form will be displayed -->
  </div>

<register></register>




</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>

<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>
  

